[2021-09-05 20:59] Chuunkyz opened #1 "too much totems of undying"
well, everything is in the title

[2021-09-06 17:12] finallion commented on #1
Thanks! The next update will randomly generate the loot in the specific chest and will reduce the number of totems (see commit)!

[2021-09-06 17:12] #1 closed

[2021-09-14 21:20] finallion opened #2 "World won't load up in version 1.4"
One comment of world not finish loading and one report of chunks not generating after /locate command for the medium and large graveyard.

[2021-09-15 11:36] finallion commented on #2
Issue caused by Optifabric/Optifine.

[2021-09-15 11:36] #2 closed, assigned to nobody

[2021-09-22 21:25] Frackin-Chaos opened #3 "Graveyard causing Mermods Mixins to Break"
Hey, so I found that having The Graveyard and the Mermod both active together causes the Mixins for the Mermod to break, resulting in a crash before the game even opens. The crash log blames the Aether Reborn mod, but I went through my mod list and tested everything and the Aether + Mermod runs perfectly fine.

[crash-2021-09-22_10.35.13-client.txt](https://github.com/finallion/The_Graveyard_-FABR

[2021-09-22 22:08] finallion commented on #3
Hm tricky one. I'll have to run a few test tomorrow for myself. Mermod doesn't provide any source code so its hard to know whats actually going on there and what I can do to stop this from happening.

[2021-09-23 09:38] finallion commented on #3
Seems to run without problems. Either mermod/aether/graveyard/trinkets or combinations of them. So not sure. The crash log is not super helpful and as I said before, its hard to tell whats going on if I cant see the code from the mermod
Edit: Better Minecraft [Fabric] runs too, without any problems

[2021-09-23 13:54] milkev opened #4 "Graveyard Tree Leaves are Persistent"
The tree leaves in your graveyards are set to persistent, this means that they will never decay even when you have broken all the wood, leaving the leaves floating forever unless the player breaks them.

This is true of all the structures in version 1.4 (latest release on curseforge as of posting this issue) except mushroom grave and small grave as they do not have any trees in them.

[2021-09-23 15:03] finallion commented on #4
Well this isn't bug. All trees are custom, so the leaves must be persistent or else they will despawn, because most of the graveyard trees do not follow the "4 blocks away from log"-rule from minecraft.
Or I'd need to adjust the graveyard trees to match that rule, but then the trees wouldn't look as good.

[2021-09-23 15:32] milkev commented on #4
iirc generated structure leaves wont start following this unless they get a block update, is this not the case?

[2021-09-23 15:36] finallion commented on #4
I'm pretty sure the leaf block itself is ticking and checking if it is close enough to logs.
And it seems the distance is 7 and not 4 - so maybe it could work out. I'll need to do some testing on this one

[2021-09-23 16:29] milkev commented on #4
they do actually decay in generated structures, i guess thats been changed at some point :/

however, setting the distance value to <7 will make them all stay, until they recieve a block update, anyway. In my lil test some of the cocoa beans broke the tallest tree in the desert graveyard. the mechanic is kinda jank but atleast some of the leaves decay? i guess, lol.

however it also seems like lea

[2021-09-23 18:54] Frackin-Chaos commented on #3
Alright, must be something on my end then. Thanks for checking into it!

[2021-09-23 18:54] #3 closed, assigned to nobody

[2021-09-23 19:27] finallion commented on #4
Thanks a lot for checking that. I'll look that i'll change that for the next update!

[2021-10-07 10:15] MSandro opened #5 "Failed to load structure nbt file from : graveyard:bp_branch_looted_graves_02"
MC 1.16.5
Fabric API 0.40.1
The Graveyard 1.0 (FABRIC) for 1.16.4-5
[code]

[2021-10-07 10:46] finallion commented on #5
Thanks! Had a typo in the structure file. Should be fixed in the next update!

[2021-10-29 23:59] tacogerbil opened #6 "Server crash... 1.17.1 Fabric"
Loaded up and started wandering around.. noticed the terrain stopped loading up and the server crashed..

---- Minecraft Crash Report ----
// Daisy, daisy...

Time: 10/29/21, 4:46 PM
Description: Watching Server

java.lang.Error: Watchdog
	at Not Enough Crashes deobfuscated stack trace.(1.17.1+build.61)
	at jdk.internal.misc.Unsafe.park(Native Method)
	at java.util.concurrent.locks.LockSupport.par

[2021-10-30 08:43] finallion commented on #6
Hm I see. Did you disable the large graveyard structure by any chance? This can cause the crash, but I think it might be another issue.
I thought it was a good idea to make a map trade, but the locate structure algorithm mojang uses to find a structure for a map can be so slow that it is causing the game to freeze and/or crash.
The next update will come soon, and the map trade will be configurable

[2021-10-30 16:01] tacogerbil commented on #6
I didn't disable anything.   I'm assuming the world was about to load in a Villager (Cartographer I assume?) and the world stopped loading.  I pregenerated 10k Radius and this part of the map where it happened wasn't very far from spawn...  Oddly though the world clipped and the chunks wouldn't load as soon as this happened.  I couldn't load up the world after this.  I removed the mod and tried go

[2021-11-05 19:55] finallion commented on #6
Fix in the 2.0 version!

[2021-11-05 19:55] #6 closed, assigned to nobody

[2021-11-05 19:55] finallion commented on #5
Fix in the 2.0 version!

[2021-11-05 19:55] #5 closed, assigned to nobody

[2021-12-04 14:05] Shelbikk opened #7 "I translated the mod into Russian"
[The_Graveyard_1.1_(FABRIC)_for_1.18.zip](https://github.com/finallion/The_Graveyard_-FABRIC-/files/7654049/The_Graveyard_1.1_.FABRIC._for_1.18.zip)

[2021-12-04 16:25] finallion commented on #7
Thanks! I'll add it in the next update. Could you translate the itemGroup text and the "Edit Gravestone" as well? Those are visible in game, too.

[2021-12-05 10:35] Shelbikk commented on #7
I usually don't translate the name of the mod to make it easier to find it.

Compleat

[The_Graveyard_1.1_(FABRIC)_for_1.18.zip](https://github.com/finallion/The_Graveyard_-FABRIC-/files/7655677/The_Graveyard_1.1_.FABRIC._for_1.18.zip)

[2021-12-05 21:57] finallion commented on #7
Thanks a ton!

[2021-12-05 21:57] #7 closed, assigned to nobody

[2021-12-20 16:58] SHXRKIEgg opened #8 "Crash with LevelZ Mod"
Crashing when using the Bone Dagger

[Crash](https://github.com/finallion/The_Graveyard_-FABRIC-/files/7746836/crash-2021-12-19_23.39.13-client.2.txt)

[2021-12-28 21:12] itsdinkd opened #9 "Does not work with Terralith [all versions]"
Can you please make a compatibility feature where if a modpack/server/player uses Terralith, it spawns the structures in a specific biome listed in the config? This would allow usage of the mod.  I added your mod into my Modpack, Another Quality Modpack 2, however, with the whole biome situation, there's no functionality. This would increase your downloads as Terralith is widely used, especially f

[2021-12-28 21:55] finallion commented on #8
Typo in tag. Should be fixed in the next update!

[2021-12-28 22:08] finallion commented on #9
Hey, I downloaded terralith and had no problems finding graveyard structures in the world. I changed the fixed biome generation of structures in the 1.1 version to a dynamic one, are you using this version? Or do you mean to have a config to set specific biomes to spawn these structures?

![2021-12-28_23 01 00](https://user-images.githubusercontent.com/74151350/147610650-d2479172-86e0-41a4-9ff9-53

[2021-12-29 16:16] OysterStew opened #10 "Crash with MC v1.17.1"
Been an forge user for years and trying out fabric. Getting crash with 'The_Graveyard_2.1_(FABRIC)_for_1.17-1.17.1' installed. Other mods are

geckolib-1.17.1-3.0.13
fabric-api-0.45.0+1.17
blame-1.17.1-4.3.2-fabric

Here is crash report

---- Minecraft Crash Report ----
// This doesn't make any sense!

Time: 12/29/21, 11:10 AM
Description: Initializing game

java.lang.RuntimeException: Could not e

[2021-12-29 19:54] finallion commented on #10
Seems like you downloaded the wrong geckolib file.

[2021-12-29 19:54] #10 closed, assigned to nobody

[2021-12-29 20:25] OysterStew commented on #10
You're right. Runs with geckolib-fabric-1.17-3.0.26 and not with the latest 1.17.1 release. Thanks

[2021-12-30 19:33] itsdinkd commented on #9
Apologies, the structures do spawn, however, the biomes do not. When using /locatebiome, it will tell you that it cannot be found, which is usually the case with biomes when terralith 1 or 2 is used.

[2021-12-30 21:08] finallion commented on #9
Terralith writes in the mod description that "Terralith is not compatible with most biome mods that modify the overworld" so I'm not sure what to do about this issue. The biomes are registered in normal way and added to the overworld spawn list

[2021-12-31 20:46] itsdinkd commented on #9
Yes I know it says that, is there anything you can do on your end to make it compatible with its chunk generator?

[2021-12-31 21:59] finallion commented on #9
No, not really. I don't even know, what its chunk generator is doing, because there is no source of the mod

[2022-01-01 03:16] itsdinkd commented on #9
The source is available. It's all a datapack. There is no actual code
unless you get the "mod" version which the only code it has is loading
seedfix to generate a seed.

If you download it and view the archive, the generator is in
/data/minecraft/dimension/overworld.json

On Fri, Dec 31, 2021, 1:59 PM finallion ***@***.***> wrote:

[2022-01-01 17:41] Joulanh commented on #9
I am using terralith and this mod and it works without issues for me

[2022-01-01 17:47] Joulanh commented on #9
if you are talking about terralith biomes. the_graveyard biomes are not added yet in 1.18 if im not wrong at least thats what Version 1.0 for 1.18 states

[2022-01-01 17:50] Joulanh opened #11 "Place skeleton bodys relative to player position"
I like using the skeleton models to decorate and it would be really cool if you could rotate them like for example with skulls.

[2022-01-01 22:04] itsdinkd commented on #9
Yes i am referring to The Graveyard's biomes, for 1.18.1

[2022-01-02 23:19] Amatheiya opened #12 "Mod refuses to accept newest version of Geckolib."
1.17 worked just fine for me, but 1.18 refuses to work. Tells me I need to update Gekolib3, which I have. I'm still told it is out of date. It's the 3.0.3 (Fabric) version (ie, latest)

The exact message states;

"ModResoulutionException: Mod resolution encountered an incompatible mod set!

A potential solution has been determined:

      Install geckolib3, version 3.0.20 or later."

Everything is

[2022-01-03 14:29] finallion commented on #12
As I said in the comment of yours a few days back, the 3.0.3 file of geckolib is outdated and/or not fabric. The latest FORGE file is 3.0.3 yes, but the latest fabric file is 3.0.23 and can be found here https://www.curseforge.com/minecraft/mc-mods/geckolib/files/3557186

[2022-01-03 14:29] #12 closed, assigned to nobody

[2022-01-04 14:12] finallion commented on #9
Ah my bad. The biomes are yet to be implemented. There is currently no good way for injection custom overworld biomes with a mod. I think 1.18.2 wants to make that a bit easier

[2022-01-04 14:13] #9 closed, assigned to nobody

[2022-01-08 15:44] EpicMaxx opened #13 "Minecraft crashes"
The game keeps crashing because of the mod idk why.

edit: ok i found the issue

[2022-01-08 16:14] #13 closed, assigned to nobody

[2022-01-09 21:03] Karlb2222 opened #14 "Deepslate added by The Graveyard does not have an associated tool"
Playing All of Fabric 5 1.18.1 and I've found that the deepslate in graveyards is much harder to break, and seems to not have an associated tool for breaking. They also do not drop items when broken

Images: https://imgur.com/a/NkzUncW

[2022-01-15 22:13] #8 closed, assigned to nobody

[2022-01-16 19:19] JonCaver opened #15 "1.2 bug with datapacks"
Something about the 1.2 release for 1.18 is not playing nice when I try to load a new world/existing save I get this message and can not get past it.  It says "error in currently selected datapacks preventing the world from loading. You can either try loading it with only the vanilla data pack ("safe mode"), or go back to the title screen and fix it manually"
Everything works fine with version 1.1

[2022-01-16 22:45] finallion commented on #15
Are you using other mods? And could you send the logs?

[2022-01-17 03:20] JonCaver commented on #15
I am usually using other mods but I removed them all and it still does the same thing. This is the log with only the mod version 1.2 and its dependencies installed.

[20:15:40] [main/INFO]: Loading Minecraft 1.18.1 with Fabric Loader 0.12.12
[20:15:40] [main/INFO]: Loading 54 mods:
	- com_eliotlash_mclib_mclib 18 via geckolib3
	- com_eliotlash_molang_molang 18 via geckolib3
	- fabric 0.46.0+1.18

[2022-01-17 06:50] ImAK9 commented on #15
+1 incompat with Terrablender?
https://paste.alloffabric.com/ocadefiqob.properties

[2022-01-17 07:39] mr-poyo opened #16 "1.18.1 - Crash while exploring the End"
Hello,

Experienced an odd bug. I was testing my private custom pack, and I experienced this hard crash while exploring in the end. If it matters, I do have BetterEnd installed.

Fabric: 0.12.12
The_Graveyard_1.2_(FABRIC)_for_1.18.1.jar
better-end-1.0.0.jar

Crash log: https://pastebin.com/XHB7VmyM

[2022-01-17 07:51] pluiedev opened #17 "Clarify the license of the project"
Hey there 👋
Love the mod and the amazing content, but it seems like the Fabric and Forge versions are licensed under different licenses: [CC0 for Fabric](https://github.com/finallion/The_Graveyard_-FABRIC-/blob/1.18/LICENSE) and [LGPLv2.1 for Forge](https://github.com/finallion/The-Graveyard-FORGE-/blob/1.18/LICENSE.txt), while the CurseForge page for [the Fabric version](https://www.curseforge.co

[2022-01-17 08:07] #16 closed, assigned to nobody

[2022-01-17 08:08] mr-poyo commented on #16
Nevermind,
I changed a setting in betterend configs and oddly enough i'm not able to reproduce this crash. Either extremely rare, or i fixed it.

[2022-01-17 09:53] finallion commented on #15
That seems to be a different issue

[2022-01-17 09:54] finallion opened #18 "Incompatibility with TerraBlender"
Parsing biomes from the config causes NPE. https://paste.alloffabric.com/ocadefiqob.properties

[2022-01-17 10:01] finallion commented on #15
https://github.com/bernie-g/geckolib/issues/219 might be caused by Geckolib. Try to use a lower version. I know 3.0.21 works

[2022-01-17 11:40] finallion commented on #15
@ImAK9 could you tell which mods do already use TerraBlender? I made an own issue for that.

[2022-01-17 14:00] ImAK9 commented on #15
Right now.. Just an alpha build of BYG (https://www.curseforge.com/minecraft/mc-mods/oh-the-biomes-youll-go-fabric)

[2022-01-17 14:00] ImAK9 commented on #18
Right now.. Just an alpha build of BYG (https://www.curseforge.com/minecraft/mc-mods/oh-the-biomes-youll-go-fabric)

_Originally posted by @ImAK9 in https://github.com/finallion/The_Graveyard_-FABRIC-/issues/15#issuecomment-1014576038_

[2022-01-17 18:44] JonCaver commented on #15
Downgraded geckolib to the 3.0.21 that was recomended with only that fabiric api vs 0.46.1 and graveyard 1.2 nothing else in mod folder and still got the same error when trying to load a world. loads to the title screen just fine with no errors. ??

[2022-01-17 19:27] finallion commented on #18
Having no problem with TerraBlender. Did the error also occur when using a different GeckoLib version, like 3.0.21?

![2022-01-17_20 23 04](https://user-images.githubusercontent.com/74151350/149827266-96915ac9-df00-4ebd-bb4d-7a2e7ddbd919.png)
![2022-01-17_20 26 03](https://user-images.githubusercontent.com/74151350/149827270-ace2f1ce-cbcc-478f-9b0a-706b3fb9ec44.png)

[2022-01-17 19:46] finallion commented on #15
Can you still post the logs again? There is an issue with the problem you are describing here https://github.com/bernie-g/geckolib/issues/219 . I'll wait for the reply from the GeckoLib devs and hopefully that will fix the issue.

And - when you are talking about title screen: do you mean the error screen or the actual title screen?

[2022-01-17 21:32] JonCaver commented on #15
I will post another log when I return home. I can get to the actual title screen and can do everything expect create or load a world. That is when the error screen come up. It won’t let me load or create a world even when clicking the “safe mode”. It does nothing. Can return to the title screen and that’s it.

[2022-01-17 22:10] #14 closed, assigned to finallion

[2022-01-17 22:19] #17 closed, assigned to nobody

[2022-01-17 23:12] finallion commented on #11
I looked into it and unfortunately it seems I can't rotate basic java models in two directions. And most of the skeleton models have already some tilt in it (like the head) (=x - direction), meaning I can't make them rotate in specific angles (= y- direction) (only the standard north, south, east, west stuff). When I have more time on the hand, I'll look into different methods to create more indep

[2022-01-18 22:42] JonCaver commented on #15
Ok I updated to the latest 1.3 of The Graveyard and also the latest for Geckolib 3.0.27 and this was able to get around the original error screen. However now when I try to create/load a world it will immediately crash once it starts to load. Info to follow. Again only using Fabric API , Geckolib, and The Graveyard mods.
![Screenshot 2022-01-18 152511](https://user-images.githubusercontent.com/865

[2022-01-18 23:16] finallion commented on #15
Try to delete the config file and restart the game.

[2022-01-19 02:43] JonCaver commented on #15
That did the trick!
Cheers thanks for the help!

[2022-01-19 11:22] #15 closed, assigned to nobody

[2022-01-19 11:23] finallion commented on #18
If the problem still occurs and deleting the config and restarting the game didn't do stuff, I'll reopen this one.

[2022-01-19 11:23] #18 closed, assigned to finallion

[2022-01-19 19:24] itsdinkd opened #19 "Graveyard mobs spawning in water???"
This is for 1.18.1 fabric, latest graveyard version out on curseforge.

![image](https://user-images.githubusercontent.com/35115304/150199896-d9f91bed-a909-4c93-9bee-cbf04ff93334.png)

[2022-01-19 19:33] finallion commented on #19
No, they definetely don't. Looks like a small horde spawned and navigated into water

[2022-01-19 19:42] itsdinkd commented on #19
Possibly. Aren’t they supposed to only spawn at graveyard structures though? Seeing quite a bit throughout overworld.   From: finallionSent: Wednesday, January 19, 2022 11:33 AMTo: finallion/The_Graveyard_-FABRIC-Cc: itsdinkd; AuthorSubject: Re: [finallion/The_Graveyard_-FABRIC-] Graveyard mobs spawning in water??? (Issue #19) No, they definetely don't. Looks like a small horde spawned and navigat

[2022-01-19 19:47] finallion commented on #19
The last version changed mob spawning. You can read about that in the changelog. If you want to disable mob spawning outside of graveyard, change it in the config file.

[2022-01-19 19:47] #19 closed, assigned to nobody

[2022-01-19 20:50] itsdinkd commented on #19
What is the best way to disable spawning in biomes and leaving them to spawn in structures? Setting weight to 0, or delete biomes from the allowed array? 

[2022-01-19 20:54] finallion commented on #19
It says exactly this in the config file "Mob Spawning:
Disable, which and if graveyard mobs spawn in the world (this does not affect the spawning in structures/of spawners), and set their spawning weight and group size.".
So just set the mob to false.

[2022-01-19 21:13] itsdinkd commented on #19
Thanks. I noticed it also says `Disable, if hordes can spawn in the world and set their spawning chance and size.` However, there is not a chance entry in the config for the horde section  ```  "hordeConfigEntries": {    "horde_spawn": {      "enabled": true,      "size": 30,      "ticksUntilNextSpawn": 24000    }```   From: finallionSent: Wednesday, January 19, 2022 12:54 PMTo: finallion/The_Grav

[2022-01-19 21:20] finallion commented on #19
A higher number for ticksUntilNextSpawn will result in a lower chance of spawning.

[2022-01-21 22:58] itsdinkd opened #20 "Add Blacklist biome for Graveyard Mobs"
So yes I see the allowedBiomes however just having this isn't enough as the mobs are spawning in other dimensions like certain dimensions from Mining Dimensions mod, caving dimension to be specific, which is not supposed to spawn mobs. Most likely this is due to the fact that the biome it uses is the same category as the mobs allowed biomes.

Removing this biome category would affect the overworld

[2022-01-23 16:36] blackd opened #21 "Ghouls spawning in mushroom biomes"
MC 1.18.1
Fabric
graveyard 1.4 but in fabric.mod.json the version is 1.3

I had 2 graveyard mobs spawning in a mushroom fields biome for the last 40 minutes of game play and no graveyards.
This started after update to https://www.curseforge.com/minecraft/mc-mods/the-graveyard-fabric/files/3615719

[2022-01-23 19:02] Sunconure11 opened #22 "Possible solution for biomes from this mod not showing up properly on 1.18.1"
https://www.curseforge.com/minecraft/mc-mods/terrablender-fabric

Have you, by any chance, checked out this dependency at all for usage here?

[2022-01-23 19:24] finallion commented on #21
You can disable them from spawning in the mushroom biome in the config. You just need to remove the biome category from the mobs

[2022-01-23 19:24] #21 closed, assigned to nobody

[2022-01-23 19:25] finallion commented on #22
Hey! Thanks for the tip. I'm already working on the biomes with TerraBlender. They should be out next week

[2022-01-23 19:25] #22 closed, assigned to nobody

[2022-01-23 19:28] blackd commented on #21
Shouldn't this be the default?

Considering the players will expect no hostile mobs to spawn in mushroom biomes.

[2022-01-23 19:36] finallion commented on #21
I changed it already. Will be in the next update.

[2022-01-26 15:41] #20 closed, assigned to finallion

[2022-01-29 18:11] finallion opened #23 "[QUESTION]"
**Question**
You may want to check the changelog of this mod on Curseforge first.

[2022-01-29 18:11] #23 closed

[2022-01-29 18:37] finallion opened #24 "Test Issue Template Bug Report"
### What's the issue you encountered?

This is a test

### How can the issue be reproduced?

Hopefully it can't.

### Logs

_No response_

### Additional information

_No response_

[2022-01-29 18:37] #24 closed

[2022-01-30 01:30] randerzo1 opened #25 "undead mobs don't burn in sunlight"
mobs from this mod do not burn in the daylight, like zombies and skeletons. I think this is an oversight?

[2022-01-30 11:46] finallion commented on #25
It is actually intentional. I wanted the mobs to be a greater danger to the player and also lorewise the graveyard mobs should be more resilient. But since some people asked the same question I will add it.

[2022-02-04 01:11] TheButterbrotMan opened #26 "Crash when server joining"
### What's the issue you encountered?

Server is crashing when joining

### How can the issue be reproduced?

Download 1.9.2 build serverpack

https://www.curseforge.com/minecraft/modpacks/deathdusk

### Logs

https://bytebin.lucko.me/lbygbN1YNA

### Additional information

_No response_

[2022-02-04 03:12] Dorrivix opened #27 "crash with 'no biome' variant."
### What's the issue you encountered?

it seems that something was left over when removing the biomes for the 'no terrablender' version of the mod. This issue results in a crash. said issue refers to the coral reef biomes, but specifically references something with a dead coral block.

### How can the issue be reproduced?

find a coral reef biome and try to load it. the game should crash relativel

[2022-02-04 04:26] Dorrivix commented on #27
um.. never mind. I'm just having this issue, and the way I tested it was to change to the 'terrablender' version. and that seemed to have fixed it, but now the crash is happening again and this mod seems to be the only one that changes coral in any way. even removing this mod (disabling) doesn't fix the problem, which is weird. this issue isn't on this mod's end.

[2022-02-04 04:26] #27 closed, assigned to finallion

[2022-02-04 11:54] finallion commented on #26
Looks like a incomp with some other mods, but with so many mods is quite hard to tell. The crashlogs says it happens in the super.initialize method, so even harder to tell why. I noticed the crash log information is nearly identical to a crash you reported to the AdventureZ dev. Does it still happen when removing AdventureZ?

[2022-02-06 15:57] finallion commented on #25
Is implemented and will be in the upcoming release 1.6.

[2022-02-06 15:57] #25 closed, assigned to nobody

[2022-02-06 16:01] finallion commented on #26
Seems to be fixed with the removal of SurvivalPlus?

[2022-02-17 10:25] Sunconure11 opened #28 "Terralith biomes are incompatible with this mod"
### What's the issue you encountered?

It would appear that trying to use Terralith alongside this mod results in Terralith biomes not spawning.

### How can the issue be reproduced?

1. Install the biome-including version of this mod
2. Install terralith
3. Try to find terralith biomes
4. ???
5. Fail

### Logs

N/A

### Additional information

_No response_

[2022-02-17 11:13] #26 closed, assigned to finallion

[2022-02-17 11:20] finallion commented on #28
I can't reproduce the error - seems to work fine. Which version of TerraBlender are you using?
![2022-02-17_12 18 57](https://user-images.githubusercontent.com/74151350/154471061-158c271e-428f-49da-911f-9b2a3445847b.png)

[2022-02-17 11:54] Sunconure11 commented on #28
1.18.1-1.1.0.76

The issue is not consistent. Sometimes the issue manifests, sometimes it does not

[2022-02-17 13:49] Sunconure11 commented on #28
The issue has however, been noted by the devs of Terralith. https://stardustlabs.miraheze.org/wiki/Terralith_2.0_compatibilities

[2022-02-17 15:09] finallion commented on #28
This a general compat issue between TerraBlender and Terralith. I'm not sure if there will be a solution to this in the near feature. Terralith overwrites the whole world gen... so. That is the reason I released a non biome version of the mod. Not sure what to do about this honestly - especially if it works sometimes and sometimes not

[2022-02-18 16:21] Sunconure11 commented on #28
Have you looked at biome adding mods that are compatible with Terrablender? Here's a good example:

https://www.curseforge.com/minecraft/mc-mods/pink

[2022-02-24 01:01] mbrozzo opened #29 "The Graveyard structures spawning on the "floor" of the Aether dimension from "Paradise Lost - the Aether Reborn""
### What's the issue you encountered?

Structures from The Graveyard spawn on the "foloor" of the Aether dimension from "Paradise Lost - the Aether Reborn" (y=-63). I am not sure if this is a problem on your part or on theirs, but this seems very similar to this issue from Mo' Structures, which happened in the Aether too:
https://github.com/frqnny/mostructures/issues/62

The differences are that:

[2022-02-24 01:49] Jack-Papel commented on #29
Paradise Lost developer here. W.r.t. the biome blacklist, I also recommend using identifiers instead of just the paths in the config. Great work on the mod. Hope you can get this fixed.

[2022-02-24 09:15] SHXRKIEgg commented on #29
Can you also please whitelist your mobs to just the overworld as it also spawns in the aether and other modded dimensions

[2022-02-24 14:28] finallion commented on #29
@Jack-Papel will do, thanks!
@SharkieTV working on that right now

[2022-02-24 17:59] mbrozzo commented on #29
Maybe you could also add a dimension whitelist to structures, so that it is not necessary to list all the dimension's biomes?

[2022-02-24 21:35] finallion commented on #29
@mbrozzo structures will only spawn in the overworld. They are designed for it and I currently do not plan to support other dimension with the existing structures. Especially as their placement in the nether, the end (and end-like dimension) is handled differently and not in an intended way!

[2022-02-24 22:47] mbrozzo commented on #29
Ok makes sense

[2022-02-28 21:39] finallion commented on #28
Closing this, cause the biomes are now an independent mod.

[2022-02-28 21:39] #28 closed, assigned to finallion

[2022-02-28 21:44] finallion commented on #29
Closing this. The structure whitelist is reworked, the mob whitelist too and structures won't spawn in the aether, unless whitelisted specifically. You can allow structures to spawn, but due to how mojang handles structure placement, they'll spawn on the floor (same issue as structures from the overworld will spawn on the nether roof, if set into the nether or villages will spawn on the floor in f

[2022-02-28 21:44] #29 closed, assigned to finallion

[2022-02-28 22:32] Jack-Papel commented on #29
Thanks 👍

[2022-03-06 16:09] kittech0 opened #30 "Port to 1.18.2"
### Overview

Port for fabric 1.18.2

### Why would this feature be useful?

yes

[2022-03-06 16:19] finallion commented on #30
The mod will be updated for every upcoming version. If it is not already updated, I ran into issues or don't have the personal time right now. There is no need for a github issue.

[2022-03-06 16:19] #30 closed, assigned to finallion

[2022-03-06 16:26] kittech0 commented on #30
well yeah, but issues can be used as TODO list

[2022-03-09 16:01] ByPaco10 opened #31 "1.16.5 Skeleton creeper crash in server"
The graveyard crashes my server when the skeleton creeper is about to explode (ticking entity), singeplayer not affected.
Reproduce this by letting a skeleton creeper explode in a multiplayer survival server 1.16.5

Loaded mods + crash rep: https://pastebin.com/zh1BGdNi
[latest.log] (https://github.com/finallion/The_Graveyard_-FABRIC-/files/8216204/latest.log)

[2022-03-21 21:22] oskarbukovsky commented on #16
Hello, what config have you changed to make sure you don't crash the game?

[2022-05-15 22:51] NealSavage opened #33 "Wrongly Given Achievement"
### What's the issue you encountered?

Going to bed, regardless of if you are in a graveyard, gives you the Dreamcatcher achievement.

### How can the issue be reproduced?

I just slept in my bed in my base, same place I always had with Graveyard 1.7. It's not a graveyard. So, it shouldn't give me this achievement.

### Logs

https://bytebin.lucko.me/4RtadLkzxB

### Additional information

This is

[2022-05-19 03:00] Azzmikaelson opened #34 "Iron bars glitching"
### What's the issue you encountered?

I created a new world with Graveyard installed along with a few other mods and whenever I see a graveyards that has iron bars surrounding it, it glitches when it's on the ground for some reason.

### How can the issue be reproduced?

Locate any of graveyards that has iron bars.

### Logs

_No response_

### Additional information

_No response_

[2022-05-27 19:03] dandin87 opened #35 "With the change to Coffins, Lootr mod prevents loot from generating."
### What's the issue you encountered?

With the change to Coffins, Lootr mod prevents loot from generating. Before when it was chests, lootr replaced the chests and worked fine. Since the change to coffins, the coffins do not generate loot while Lootr is also present.

### How can the issue be reproduced?

Use Lootr mod with the Graveyard mod.

### Logs

_No response_

### Additional information

[2022-05-27 20:10] #11 closed, assigned to nobody

[2022-05-27 20:10] finallion commented on #34
On which mod and minecraft version does this happen?

[2022-05-28 17:09] ZestyBlaze commented on #35
Hiya! One of the devs for Lootr Fabric here, I'll be taking a look through it as well on our end but if finallion sees this it could be handy to chat with him too about this

[2022-05-28 17:14] ZestyBlaze commented on #35
Hi @dandin87 can I possibly request more info from you please? Could you try open up a Lootr Chest that replaces a coffin and check the logs to see if there is any errors or warns of any kind at all for me?

[2022-05-29 19:24] benio1394 commented on #35
If I may suggest it will be lovely to have lootr coffin warriant. Maybe you consider that idea

[2022-05-31 10:49] finallion commented on #35
Fixed on Lootr's side in the new versions.

[2022-05-31 10:49] #35 closed, assigned to finallion

[2022-06-02 14:51] Azzmikaelson commented on #34
1.18.2 and just this mod.

[2022-06-05 12:36] finallion commented on #4
Fixed in 1.9. Took a bit longer than expected and definitely not the most fun activity, but...

[2022-06-05 12:36] #4 closed, assigned to nobody

[2022-06-05 12:36] finallion commented on #33
Removed the achievement in 1.9 and will come back to this later

[2022-06-05 12:36] #33 closed, assigned to finallion

[2022-06-05 12:38] finallion commented on #34
I'm not able to reproduce the error on multiple devices. Are you using any shaders/datapacks? Could you maybe post your logs and a screenshot? And are you referring to iron bars or dark iron bars?

[2022-06-06 04:34] Azzmikaelson commented on #34
No shaders or datapacks. And I'm referring to iron bars and sure.

[2022-06-06 11:11] finallion commented on #34
The mod does nothing with iron bars or anything model- or render-related, so I would be surprised if this issue is caused by the Graveyard. But I can't say for sure without logs.

[2022-06-06 14:32] ipiiia opened #36 "fps drop"
### What's the issue you encountered?

Mobs reduce fps a lot

### How can the issue be reproduced?

spawn mobs

### Logs

_No response_

### Additional information

_No response_

[2022-06-13 19:53] finallion commented on #36
This is not a really helpful report. I'll close it, if you provide more info I can open it again

[2022-06-13 19:53] #36 closed

[2022-06-13 19:55] finallion commented on #31
Sorry for the late response. What are you still doing in 1.16? This version is no longer maintained, I'm sorry!

[2022-06-15 05:18] slovinsqui opened #37 "crashing when loading new world"
### What's the issue you encountered?

when creating a new world, then loading it, the game crashes

### How can the issue be reproduced?

I really don't know, I created worlds before without issues and then this happened

### Logs

---- Minecraft Crash Report ---- // Hi. I'm Minecraft, and I'm a crashaholic.  Time: 6/14/22, 10:09 PM Description: Exception ticking world  java.lang.NullPointerExcep

[2022-06-15 09:29] finallion commented on #37
Could you attach the latest.log and the crash.log as files?
Does this occur on every world creation, as you mentioned it worked before?

[2022-06-15 09:30] #34 closed, assigned to finallion

[2022-06-15 23:03] slovinsqui commented on #37
[crash-2022-06-14_22.35.20-server.txt](https://github.com/finallion/The_Graveyard_-FABRIC-/files/8913991/crash-2022-06-14_22.35.20-server.txt)

[2022-06-14-2.log.gz](https://github.com/finallion/The_Graveyard_-FABRIC-/files/8913994/2022-06-14-2.log.gz)

[2022-06-14-1.log.gz](https://github.com/finallion/The_Graveyard_-FABRIC-/files/8913996/2022-06-14-1.log.gz)

Yes, it did work before, my first ac

[2022-06-17 12:54] finallion commented on #37
Its crashing when a Graveyard Entity calls the a vanilla method (which should be absolutly fine), so I assume this is due to conflicting mods. I can't tell with which mod, due to the very unclear crash log, so you'd have the tedious task to search through the mods. I remember a similar exception with Adventurez, but it may be fixed already.

[2022-06-17 12:56] finallion commented on #37
And I dont know whats with the first log(2022-06-16-1), but this one has some completly different issues and a crash related to Item Rendering on the client side.

[2022-06-18 16:07] finallion commented on #37
Issue between The Graveyard and RpgDifficulty
https://github.com/Globox1997/RpgDifficulty/issues/24

[2022-06-19 13:58] finallion commented on #37
https://github.com/Globox1997/RpgDifficulty/issues/24 fixed

[2022-06-19 13:58] #37 closed, assigned to finallion

[2022-06-19 13:59] #31 closed, assigned to nobody

[2022-07-13 11:27] finallion opened #38 "Coffin/Sarcophagus affect particle rendering from other blocks"
### What's the issue you encountered?

Placing coffins will stop/speed up particles from candles, furnaces etc.

### How can the issue be reproduced?

Place a coffin near a candle.

### Logs

_No response_

### Additional information

_No response_

[2022-08-11 22:02] DadoIrie opened #40 "1.18.2 Incompatible with data attributes"
### What's the issue you encountered?

https://github.com/CleverNucleus/Data-Attributes/issues/21

### How can the issue be reproduced?

World creation works fine, but after restart the server crashes when its done loading. Check link for the issue created on data attributes github repository

### Logs

https://mclo.gs/NdpO2xr

### Additional information

_No response_

[2022-09-11 16:14] juanggcc commented on #13
what was the issue?

[2022-09-11 19:24] finallion commented on #13
He didn’t have geckolib installed

[2022-10-05 12:28] finallion commented on #40
Fixed in version 2.0

[2022-10-05 12:28] #40 closed, assigned to finallion

[2022-10-05 12:28] finallion commented on #38
Fixed in version 2.0

[2022-10-05 12:28] #38 closed, assigned to finallion

[2022-10-09 06:01] guitarist4hire opened #42 "Could not Execute Client"
### What's the issue you encountered?

working on a massive rpg pack for my friends, they've requested that this mod be included, but the game simply won't start with it installed. the mod pack is otherwise stable.

### How can the issue be reproduced?

simply install the mod to the forge profile and the game refuses to launch.

i can include the modpack as is if need be.

### Logs

[04:44:21] [ma

[2022-10-09 10:12] finallion commented on #42
Try to downgrade Geckolib to version 3.1.20 and let me know if this fixes the issue

[2022-10-09 16:06] guitarist4hire commented on #42
the issue may actually lie with the mod titled "Nameplate". the game seems to run just fine as long as one or the other isn't installed

[2022-10-09 16:12] finallion commented on #42
Let me know, if it changes, and I'll reopen the issue.

[2022-10-09 16:12] #42 closed, assigned to finallion

[2022-10-14 13:38] Gilithrimm opened #43 "1.19.2 incompatibility with Nameplate"
### What's the issue you encountered?

Game crashes (or infintely deloads all resourcepacks and shows crash screen if Not Enough Crashes is present)

### How can the issue be reproduced?

1. Insall fabric loader 0.14.9
2. Add fabric api 0.62.0, geckolib 3.1.20, graveyard 1.10 or 2.0, cloth config 8.2.88 and nameplate 1.0.8
3. Launch game

### Logs

[latest.log](https://github.com/finallion/The_Gra

[2022-10-14 14:18] Gilithrimm commented on #43
I just needed to update nameplate. Sorry for inconvenience!

[2022-10-14 14:18] #43 closed, assigned to finallion

[2022-10-30 18:45] Cr4fTJuNkiE opened #44 "Graveyard crashes with geckolib-fabric-1.19-3.1.30"
### What's the issue you encountered?

Game crashes while rendering entity.

### How can the issue be reproduced?

Load the latest  Graveyard Fabric version with geckolib-fabric-1.19-3.1.30.
[crash-2022-10-30_14.23.36-client.txt](https://github.com/finallion/The_Graveyard_-FABRIC-/files/9896582/crash-2022-10-30_14.23.36-client.txt)

### Logs

https://github.com/finallion/The_Graveyard_-FABRIC-/fil

[2022-10-30 19:06] otavio-silva commented on #44
Had the exact same error just now, log: https://mclo.gs/2J7EXKt

[2022-10-30 19:17] finallion commented on #44
It is an error due to Geckolib updating stuff, that my mod needs to update too. It will be fixed as soon as I update the mod to the newer version. For now I suggest using an older version of Geckolib.

[2022-10-30 19:37] Cr4fTJuNkiE commented on #44
Currently using  geckolib-fabric-1.19-3.1.26 with zero issues. Thanks.

[2022-11-04 11:56] Gremious opened #45 "Config to adjust weapon balance for use in modpacks (or just nerf bone dagger)."
### Overview

The bone daggers are not balanced like other weapon mods, e.g. MC Dungeon Weapons, but there is no way to adjust that.

For reference, In MCDW all the daggers generally hover at -2 attack speed, while the bone dagger here is +1, with around the same damage numbers.

It's fine standalone, but it's not friendly for modpacks or people who'd use multiple weapon mods.

I would like to sug

[2022-11-11 13:05] finallion commented on #44
Fixed in the newest version.

[2022-11-11 13:05] #44 closed, assigned to finallion

[2022-11-15 08:24] Abalieno commented on #44
without opening a new one... this also affects 1.18, which is stuck on 1.9

I guess no updates are planned?

[2022-11-19 17:09] finallion commented on #45
Adjusted and nerved in the newest version.

[2022-11-19 17:09] #45 closed, assigned to finallion

[2022-11-24 00:24] elpocoburrito commented on #44
Can confirm 1.18.2 is affected, would be dope to get an update

[2022-11-24 18:08] finallion commented on #44
Ok guys, although there were no plans on updating, 1.18 received an updated today. That should fix these issues.

[2022-11-27 04:57] Daedric-Arbiter opened #47 "Reapers spawning in the daytime inside the eroded forest"
### What's the issue you encountered?

While I was exploring my world, I ran into a Haunted Forest with some eroded haunted forest biome collision, and then out of nowhere a bunch of reapers spawned while it was daytime and began to burn. Which in this instance, has led to believe that they don't have proper spawn conditions, or probably their spawn conditions bugged out... I do not know what is g